
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>xiaoyanyan's blog</title>
    <link rel="stylesheet" type="text/css" href="public/index/style.css" />
  </head>
  <body>
      <div class="bg_top">
        <div class="header_bg">
        <div class="header">
        <a href="index.html" class="logo" title="云朵工厂-原创设计品牌"></a>
        <a href="#/en/" title="English" class="lan en" ></a>
        <a href="#" title="中文版" class="lan cn" style="background-position:left top;"></a>
        </div>
        </div>
      </div>
      <div class="page_box page_box_bg">
      <div class="home_menu"><a href="http://localhost/1707/superior/blog/index.php"></a></div>
           <div class="broadcast">
                  <ul>
          	       <li class="menu1_blog"><a class="on" href="t.html" title="团队博客"></a></li>
                     <li class="menu2_news"><a href="blog/" title="新鲜事大箩框"></a></li>
                 </ul>  
          </div>
      	<div class="t_box">
           <iframe width="570" height="516" class="share_self" style="margin:60px auto auto 130px;"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=570&height=516&fansRow=1&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=1936920514&verifier=b9041467&dpc=1"></iframe>
           <!-- <h3 style="margin:50px auto auto 120px;">{$data[0]['title']}</h3>
           <h5 style="margin-top:10px; margin-left:580px;">{$data[0]['createTime']}</h5>
           <div>
             {$data[0]['content']}
           </div> -->
          </div>  
        <div class="page_right_menu" >
          <ul>
            <li class="menu_1"><a href="about.html" title=""></a></li>
            <li class="menu_2"><a class="on" href="t.html" title="广播站"></a></li>
            <li class="menu_3">
              <a href="blog/" title="团队博客"></a>
            </li>
            <li class="menu_5"><a href="product.html" title="厂区仓库"></a></li>
            <li class="menu_6"><a href="job.html" title="招兵买马"></a></li>
            <li class="menu_4"><a href="games.html" title="游乐园"></a></li>
          </ul>
        </div>
      </div>
      <div class="page_bot"></div>
      <div class="footer">
      <div class="footer_left"><a href="http://www.weibo.com/cloudfactory" title="云朵工厂官方微博" target="_blank" class="sina"></a><a href="http://cloudfactory.taobao.com/" target="_blank" class="taobao" title="云朵工厂官方店铺" ></a><a href="http://site.douban.com/126699/" title="云朵工厂豆瓣主页" target="_blank" class="douban"></a>
      <div class="link">
      <a class="contact" href="contact.html" target="_blank" title="联系我们" ></a>
      <a class="linker" href="linker.html" target="_blank" title="云朵工厂友情链接" ></a>
      </div>
      </div>
      <div class="footer_right"><p>Copyright&copy;2012 Dodoo animation PTY.LTD.收集： <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
      </p>
      </div>
      </div>
  </body>
</html>
